<!--
 This file generates references to all posts which have:
 - any category listed in the categories of the current page, and
 - no category in the categories-blacklist of the current page.

 For example, if you have a post with the categories "blog" and "cooking",
 it will be shown on the posts page if the categories of the posts page include
 "blog" or "cooking". However, if the categories-blacklist of the posts page
 lists for example "cooking", then our post will not be shown, for it contains
 a blacklisted category.
 -->

<ul class="posts">
  {% for post in site.posts %}
    {% assign match = false %}
    {% for category in post.categories %}
      {% if page.categories contains category %}
        {% assign match = true %}
      {% endif %}
    {% endfor %}
    {% for category in post.categories %}
      {% if page.categories-blacklist contains category %}
        {% assign match = false %}
      {% endif %}
    {% endfor %}
    {% if match %}
      <li>{% include post_date.html %} &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}                       
  {% endfor %}
</ul>
