<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>$title$ - gedenkt.at</title>

    <link rel="icon" type="image/png" href="/media/gedenkt_small.png">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <a href="/"><img src="/media/gedenkt_small.png"></img></a>
      </div>
      <div id="navigation">
        <a href="/">Initium</a>
        <a href="/erasmus.html">Erasmus</a>
        <a href="/musica.html">Musica</a>
        <a href="/blog.html">Blog</a>
      </div>
    </div>

    <div id="content">
      <h1>$title$</h1>

      $body$
    </div>

    <div id="footer">
      Post: (λ name domain. name@domain) "michael.faerber" "gedenkt.at"
    </div>
  </body>
</html>

<script type="text/javascript"
  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
