<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de-AT">
<head profile="http://www.w3.org/2005/10/profile">
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Michael Färber" />

   <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />
   <link rel="icon" type="image/png" href="/media/gedenkt_small.png" />
</head>
<body>

<div class="site">
  <div id="title">
    <a href="/"><img src="/media/gedenkt.png"></img></a>
  </div>
  
  {{content}}
  
  <div class="footer">
    <div class="contact">
      <p>
        Michael Färber<br />
        <a href="mailto:mein_vorname.faerber@gedenkt.at"><i>mein_vorname</i>.faerber@gedenkt.at</a>
      </p>
    </div>
  </div>
</div>

</body>
</html>
